@import "variable";
@import "fonts";
//======================bootstrap====================================================
// Core variables and mixins
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
//======================bootstrap====================================================
@import "animate";
@import "common";
@import "keyframes";
html,
body {
    position: relative;
    height: 100%;
}

body {
    background-color: #f83e35;
    font-family: $font-family-sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    transform: translate3d(0, 0, 10000px);
    @include opacity(0.5);
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    background: url(../images/p07@2x.png) no-repeat center center;
    background-size: cover;
    background-color: #f83e35;
    &.swiper-slide-1 {
        background-color: #f83e35;
        .text-center {
            text-align: center;
            line-height: 60px;
            img.logo {
                position: relative;
                z-index: 10;
                transform: translate3d(0, 0, 10px);
            }
        }
        .text-crazy {
            position: absolute;
            left: 20px;
            top: 120px;
        }
        .text-gold-coin {
            position: absolute;
            right: 20px;
            top: 290px;
        }
        .text-eat {
            position: absolute;
            left: 50%;
            margin-left: -160px;
            top: -30px;
        }
        .coin-1 {
            position: absolute;
            top: 0px;
            left: 5%;
            transform-origin: 40.2% 0%;
        }
        .coin-2 {
            position: absolute;
            top: 0px;
            right: 5%;
            transform-origin: 50% 0%;
        }
        .coin-3 {
            position: absolute;
            top: 0px;
            right: 10%;
            transform-origin: 37.88% 0%;
        }
        .coin-4 {
            position: absolute;
            top: 340px;
            left: 15%;
        }
        .coin-5 {
            position: absolute;
            top: 263px;
            right: 20%;
        }
        .coin-6 {
            position: absolute;
            top: 256px;
            right: 24%;
        }
        .coin-7 {
            position: absolute;
            top: 250px;
            right: 30%;
        }
        .hongbao {
            position: absolute;
            bottom: 0px;
            left: 30px;
        }
        .button-group {
            position: absolute;
            bottom: 10%;
            text-align: center;
            width: 100%;
            .start {
                display: inline-block;
                border: none;
                padding: 0;
                background-color: transparent;
            }
            .rule {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
            }
        }
        .envelope {
            position: fixed;
            top: 20%;
            left: 10%;
            width: 80%;
            height: 70%;
            z-index: 1050;
            transform: translate3d(0, 0, 100000px);
            display: none;
            .envelope-head {
                position: absolute;
                top: -75px;
                left: 0px;
                width: 100%;
                height: 75px;
                background: url(../images/p23@2x.png) no-repeat center bottom;
                background-size: 100%;
            }
            .envelope-body {
                width: 100%;
                height: 100%;
                background: #ff665e url(../images/p25@2x.png) no-repeat 99% 95%;
                background-size: 65px 42px;
                border-radius: 0px 0px 15px 15px;
                font-size: 1.2rem;
                color: #fff;
                padding: 20px;
                text-align: left;
                .btn-a {
                    width: 200px;
                    padding: 0;
                    margin: 0 auto;
                    display: block;
                }
            }
            &.slideInDown {
                animation: bounceInDownZ10000 0.5s;
            }
            &.slideOutUp {
                animation: bounceOutUpZ10000 0.5s;
            }
        }
    }
    &.swiper-slide-2 {
        background: url(../images/j01.jpg) no-repeat center center;
        background-size: 100%;
    }
}

.fireworks {
    width: 11px;
    height: 11px;
    background: url(../images/p02.png) no-repeat 0 0;
    position: absolute;
    top: -10px;
    left: 0px;
    animation-iteration-count: infinite !important;
    z-index: 0;
    &.fireworks-1 {
        background-position: 0px 0px;
        left: 1%;
    }
    &.fireworks-2 {
        background-position: -11px 0px;
        left: 11%;
    }
    &.fireworks-3 {
        background-position: -22px 0px;
        left: 22%;
    }
    &.fireworks-4 {
        background-position: -33px 0px;
        left: 33%;
    }
    &.fireworks-5 {
        background-position: -44px 0px;
        left: 44%;
    }
    &.fireworks-6 {
        background-position: -55px 0px;
        left: 55%;
    }
    &.fireworks-7 {
        background-position: -66px 0px;
        left: 66%;
    }
    &.fireworks-8 {
        background-position: -77px 0px;
        left: 77%;
    }
    &.fireworks-9 {
        background-position: -88px 0px;
        left: 88%;
    }
}

.cloud {
    position: absolute;
    &.top {
        top: 0px;
    }
    &.bottom {
        bottom: 0px;
    }
    &.cloud-1 {
        left: 50%;
        margin-left: -158px;
        z-index: 3;
        animation: wave-top-1 10s linear 0s infinite both;
        top: -53px;
    }
    &.cloud-2 {
        left: -54px;
        z-index: 2;
        animation: wave-top-2 8s linear 0s infinite both;
        top: -40px;
    }
    &.cloud-3 {
        right: -45px;
        z-index: 1;
        top: -40px;
        animation: wave-top-2 9s linear 0s infinite both;
    }
    &.cloud-4 {
        left: 50%;
        margin-left: -112px;
        z-index: 3;
        bottom: -40px;
        animation: wave-bottom-1 10s linear 0s infinite both;
    }
    &.cloud-5 {
        left: -80px;
        z-index: 2;
        bottom: -30px;
        animation: wave-bottom-2 8s linear 0s infinite both;
    }
    &.cloud-6 {
        right: -33px;
        z-index: 1;
        bottom: -30px;
        animation: wave-bottom-2 9s linear 0s infinite both;
    }
}
